body{
    
    background-color: rgb(249, 249, 252);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  
  span{
    color: rgb(102, 193, 209);
  }
  .home-text p{
    color: #2F327D !important;
  }
  .btn{
    background-color: #f44336;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }
  .home-image img{
    border-radius: 15px;
  }
  .home{
    background-color: #ebf5ff;
  }
  form-outline{
    border-radius: 25px;
    background-color: brown;
  }
  .section-color{
    background-color: #ebf5ff !important;
    padding: 10px 0;
  }
  .single{
    color: #B2B3CF;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.04px;
  
  }
  
  .sec{
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.88px;
  }
  
  
  
  /*course card*/
  
  .course-card {
      border: 1px solid #080808;
      padding: 10px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .course-image {
      max-width: 200px;
      height: auto;
    }
    
  .course-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
    
  .course-description {
    margin-bottom: 15px;
  }
    
  .instructor {
    margin-bottom: 10px;
  }
    
  .course-rating {
    margin-bottom: 10px;
  }
    
  .course-price,
  .course-duration {
    margin-bottom: 5px;
  }
    
  .instructor-info {
    margin-top: 20px;
  }
    
  .instructor-image {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
  }
    
  .instructor-name {
    margin-top: 5px;
  }
   
  .card-image{
    border-radius: 20px;
  }
  
  

/*----------- Boxes-------------*/

.Recommended-Course{
  background-color:#9dccff47;
  margin-top: 12%;

}


.recommended-course-card{
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 18px 47px 0px rgba(47, 50, 125, 0.10);
  width: 374px;
  height: 537px;
  flex-shrink: 0;
}
.mian-imag {
  border-radius: 20px;
  width: 334.004px;

}
.clock-icon {
  margin-left: 38%;
  color: #696984;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 25.2px */
  letter-spacing: 0.28px;
}
.fill-icon{
color: #696984;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 180%; /* 25.2px */
letter-spacing: 0.28px;
}
.AWS-header{
color: #252641;
font-family: Poppins;
font-size: 23px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.AWS-pre{
color: #696984;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 180%; /* 32.4px */
letter-spacing: 0.36px;
}
.paides-text{
color: rgba(0, 0, 0, 0.50);
font-family: "Poppins", sans-serif;
font-size: 15px;
font-style: italic;
font-weight: 200;
line-height: 10%;
letter-spacing: 0.36px;
text-decoration: line-through;
}
.padies-Big{
color: #49BBBD;
font-family: Poppins;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: 10%;
letter-spacing: 0.48px;
}

.Useer-paided{
margin-left: 48%;
}




/* Carousel section */
/* .tales{
  width: 100%;
} */
/* .carousel {
  width: 900px;
  height:398px;
  
} */
/* .carousel{
  justify-content: center !important;
} */
.carousel-inner{
 
  /* max-width: 900px !important; */
  height: 398px;
  
}
/* .carousel-item{
  width: 100% !important;
  background-image: cover;
} */

/* end of the carousel */



/* New */
.full-immage{
  max-height: 180%;
}
 .image {  
   width: 100%;  
   height: 180%;  
   border-radius: 20px;  
   transition: all 0.3s ease-in-out;  
   z-index: 20;  
   box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);  
}  
.card-wrapper {  
   margin-left: 11%;
   margin-top: 40px;
   position: relative;  
   width: 300px;  
   height: 250px;  
   border-radius: 20px;  
   overflow: hidden;  
   transition: all 0.3s ease-in-out;  
   box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.49);
   justify-content: space-between;
   
   
}  
.card-wrapper:hover .image {  
   filter: blur(1.4px);  
   transform: scale(1.5);  
   overflow: hidden;  
   transition: all 0.3s linear;  
   box-shadow: inset -6px -1px 32px 0px rgba(0, 0, 0, 0.75);  
}  
.card-wrapper:hover .card-bottom {  
   transform: translate(0%, -50%);  
   transition: all 0.8s ease;  
   background-color: rgba(110, 122, 92, 0.7);  
}  

.card-bottom {  
   width: 100%;  
   position: absolute;  
   z-index: 20;  
   display: nonee;  
   top: 50%;  
   background-color: rgba(110, 122, 92, 0);  
   padding: 100px 20px;  
   color: #fff;  
   transform: translate(100%, -50%);  
}  
.top-text {  
   font-size: 25px;  
   line-height: 40px;
   font-weight: bold;  
   letter-spacing: 1px;  
}  
.bottom-text {  
   font-size: 15px;  
}
.button {  
   position: relative;  
   display: block;  
   outline: none;  
   cursor: pointer;  
   margin-top: 25px;  
   border: none;  
   border-radius: 3px;  
   background-color: #f8961e;  
   color: #fff;  
   padding: 5px 20px;  
}





  /*footer sec*/
footer{
  background-color: #252641;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
