@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,400;1,500;1,800;1,900&display=swap");

/* .header-top {
  background-color: #49bbbd;
} */

.text-hold {
  color: #eae0e0;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20%;
}

.btn{
  background-color: #f44336;
}
.btn:hover{
  background-color: black;
  color: white;
}
.text-ada{
  color: #eae0e0;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20%;
  /* margin-left: 36%; */
  padding-left: 40%;
  position: relative;
  left: 22%;
}
.text-manage{
  color: #eae0e0;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10%;
  padding-left: 20%;
  position: relative;
  left: 20%;
}
.Carousel-heigth{
  height: 20% !important;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set background image individually for each slide */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Add background images to each slide */
.swiper-slide:nth-child(1) {
  background-image: url('/assets/cla-image/cal1.jpg');
}

.swiper-slide:nth-child(2) {
  background-image: url('/assets/cla-image/cal2.jpg');
}

.swiper-slide:nth-child(3) {
  background-image: url('/assets/cla-image/cal8.jpg');
}
.swiper-slide:nth-child(4) {
  background-image: url('/assets/cla-image/cal4.jpg');
}
.swiper-slide:nth-child(5) {
  background-image: url('/assets/cla-image/cal5.jpg');
}
.swiper-slide:nth-child(6) {
  background-image: url('/assets/cla-image/cal6.jpg');
}
.swiper-slide:nth-child(7) {
  background-image: url('/assets/cla-image/cal7.jpg');
}
   .swiper-slide:nth-child(8) {
  background-image: url('/assets/cla-image/cal9.jpg');
}
.swiper-slide:nth-child(9) {
  background-image: url('/assets/cla-image/cal10.jpg');
}





/* Add more background images for additional slides as needed */

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}









































.p-text {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.span-text {
  color: #f48c06;
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
}

.text-box {
  padding-top: 30%;
}

.join-btn {
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  border: none !important;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.Watch-text {
  color: #252641;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 100%;
  justify-content: center;
  text-align: center;
  display: flex;
}

.video-player {
  color: aliceblue;
  font-size: 36px;

}

.video-container {
  display: flex;
  color: #252641;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.success_text {
  color: var(--half-dark-text-color, rgba(1, 5, 20, 0.8));
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.success_header {
  color: var(--dark-text-color, #010514);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 62.4px */
}

.num-text {
  background: var(
    --accent-gradient,
    linear-gradient(90deg, #136cb5 0%, #49bbbd 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 66px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  /* 96px */
}

.number-frame {
  display: flex;
  justify-content: center;
}

.cloud_header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  /* 64.8px */
}

.cloud_text {
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #696984;
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  /* width: 837px; */
  line-height: 180%;
  /* 43.2px */
}

.span-cloud {
  color: #00cbb8;
}

.cloudCotainer {
  margin-top: 10%;
}

.online-header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.online-text {
  color: #696984;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 36px */
}

.online-card {
  padding-top: 20%;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  width: 350px;
  height: 330px;
  flex-shrink: 0;
}

.file_icon {
  margin-left: 34%;
  position: relative;
  top: 30px;
  background-color: #5b72ee;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}
.file-text{
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}
.calendar_icon {
  margin-left: 34%;
  position: relative;
  top: 30px;
  background-color: #00cbb8;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}

.user_icon {
  margin-left: 34%;
  position: relative;
  top: 30px;
  background-color: #29b9e7;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}

.totc_con {
  margin-top: 10%;
}

.instructors {
  margin-top: 3%;
}

.totc-haedr {
  color: #2f327d;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.totc-span {
  color: #00cbb8;
}

.toct-text {
  color: #696984;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 43.2px */
  letter-spacing: 0.48px;
}

.instructors-con {
  background-image: url("../assets/rectangle-23.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 20px;
}

.online_instrutors {
  background-image: url("../assets/pexels-anna-shvets-4226140.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 20px;
}

.int-thing {
  text-align: center;
  /* justify-content: center;
    align-items: center; */
  padding-left: 10%;
  padding-top: 24%;
}
.text-for {
  color: aliceblue;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.start-btn {
  width: 233px;
  height: 70px;
  background: none;
  border-radius: 80px;
  border: 2px solid aliceblue;
  color: aliceblue;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.start-btn:hover {
  background: rgba(35, 189, 238, 0.9);
  color: aliceblue;
  border: none;
}

.phys-img {
  border-radius: 20px;
}

.physical_classroom {
  margin-top: 15%;
}

.physicla_text {
  position: relative;
  bottom: 10%;
  left: 5%;
}
.physical-headra {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 57.6px */
}
.YouCan_text {
  color: #00cbb8;
}
.physical_pre {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 43.2px */
  letter-spacing: 0.48px;
}
.physical_img {
  margin-left: 5%;
}

.featur_headre {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 64.8px */
}
.span-features {
  color: #00cbb8;
}

.featur-text {
  color: #696984;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: 180%; /* 43.2px */
}
.meeeting-text {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 64px */
}
.meeting-span {
  color: #00cbb8;
}

.meeting-pra {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}
.features-section {
  margin-top: 10%;
}
.teachs_tool {
  margin-top: 10%;
}
.teachs-span {
  color: #00cbb8;
}
.teachs-header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.teach_pra {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}
.teachs_text {
  margin-top: 25%;
}
.assessments-headra {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 64px */
}
.assessments-span {
  color: #00cbb8;
}
.assessments-pra {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}
.assessments-text {
  margin-top: 35%;
}
.classManagement-text {
  margin-top: 20%;
}
.classManagements-headra {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 64px */
}
.classManagement-span {
  color: #00cbb8;
}
.classManagement-pra {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}
.oneoOnOneDiscussios {
  margin-top: 15%;
}
.oneoOnOneDiscussios-Teaxt {
  margin-top: 20%;
}

.Discussios-header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 64px */
}
.span_disussio {
  color: #00cbb8;
}
.Discussions-teaxt {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}
.line-testimonial {
  color: #525596;
  width: 80px;
  height: 1px;
}
.testimonial-pra {
  color: #525596;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 4px;
}
.saysomething-header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 64px */
}
.saySomething-pre {
  color: #696984;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 180%; /* 39.6px */
  letter-spacing: 0.44px;
}

.students-testimonial {
  border-radius: 20px;
}
.testimonial-Section {
  margin-top: 16%;
}

.new-header {
  color: #2f327d;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 64.8px */
}
.new-per {
  color: #696984;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 43.2px */
}
.News_Section{
  margin-top: 15%;
}

.NewS-image{
  width: 40%;
}
