@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,400;1,500;1,800;1,900&display=swap");

.Choice-header{
    color: #252641;
    font-family: "Poppins", sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.Choice-card-category{
    width: 349px;
  height: 377px;
  flex-shrink: 0;
    border-radius: 20px;
  background: #fff;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px 0px rgba(47, 50, 125, 0.10);
  }
  
  
  .course-header{
    color: #000;
    font-family: "Poppins", sans-serif;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.6px;
  }
  .course-pre{
    color: #696984;
text-align: center;
font-family: "Poppins", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.36px;
  }